.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  height: calc(100vh - 122px);

  aspect-ratio: 1 / 1;
  position: relative;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
}