.timer {
  width: 90px;
  box-sizing: content-box;
  padding: 4px 7px 4px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 6px;

  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;

  justify-self: start;
  user-select: none;

  .pi {
    margin-right: 5px;
  }

  .time {
    text-align: center;

    .digit {
      display: inline-block;
      width: 14px;
    }

    .colon {
      display: inline-block;
      margin-left: 2px;
    }
  }

  &.white {
    background-color: #fff;
    color: #000;

    &:not(.active) {
      background-color: #ddd;
      color: #888;
    }
  }

  &.black {
    background-color: #000;
    color: #f3f3f3;

    &:not(.active) {
      background-color: #0f0f0f;
      color: #888;
    }
  }

  &.danger-time,
  &.danger-time {
    background-color: #7C0902 !important;

    &.white {
      color: #f3f3f3 !important;
    }

    &.black {
      color: #0f0f0f !important;
    }
  }

}