.timer {
  padding: 4px 7px 4px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 150px;

  border-radius: 6px;
  color: #999999;

  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;

  justify-self: start;
  user-select: none;

  .pi {
    margin-right: 5px;
  }

  .time {
    .digit {
      display: inline-block;
      width: 16px;
    }

    .colon {
      width: 10px;
    }
  }

  &.white {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  &.black {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}