$board-border-radius: 6px;

.tile {
  width: 100px;
  height: 100px;

  position: relative;

  .str-symbol, .col-symbol {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.1em;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .str-symbol {
    top: 6px;
    left: 10px;
  }

  .col-symbol {
    bottom: 6px;
    right: 10px;
  }

  &:first-child {
    border-top-left-radius: $board-border-radius;
  }

  &:nth-child(8) {
    border-top-right-radius: $board-border-radius;
  }

  &:nth-child(57) {
    border-bottom-left-radius: $board-border-radius;
  }

  &:nth-child(64) {
    border-bottom-right-radius: $board-border-radius;
  }
}